*{
    padding: 0;
    margin: 0;
}
body{
 max-width: 50%;
 margin: 0 auto;
}
.site{
    color: rgb(13, 247, 13);
    float: left;
    font-size: large;
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-bottom: 0;
}
.row1 p{
    font-family: Arial;
}
.row1 input{
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    width: 250px;
    padding: 5px;
}
.row1 button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(50, 248, 50);
    border: none;
    margin-top: 3px;
}
.header1{
    background-color: black;
    height: 30px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%
    
}
.navbar{
    display: flex;
    justify-content: space-between;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
}
.tutorial {
    font-family: Arial;
    margin-top: 20px;
 }
 .main{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.but1 button{
    height: 30px;
    width: 70px;
    background-color: rgb(5, 158, 5);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.but2 button{
    height: 30px;
    width: 70px;
    background-color: rgb(5, 158, 5);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.content{
    background-color: rgb(73, 233, 73);
    height: 270px;
    padding-top: 5px;
    margin-top: 30px;
}
.inner{
    margin-top: 25px;
    margin-left: 5px;
    font-family: Arial;
}
.button1{
    margin-bottom: 20px;
    margin-left: 5px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: rgb(20, 189, 20);
    color: white;
}
.button2{
    margin-left: 5px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: black;
    color: white;
}
hr {
    text-align: center;
    margin-top: 20px;
}
.note{
    font-family: Arial;
    margin-top: 5px;
}
.note2{
    font-family: Arial;
    margin-top: 5px;
}
.goto{
    background-color: grey;
    border-radius: 3px;
    border: none;
    height: 25px;
}