.navbarcolor{
    background-color: goldenrod!important;
}
.navtext{
    font-weight: bold;
    
}
/*NavMenu*/
.nav-link2{
    color: black!important;
    position: relative;
}


.nav-link2::after{
    content: "";
    opacity: 0;
    transition: all 0.29s;
    position: relative;
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.nav-link2:hover::after{
    opacity: 1;
}
/*NavMenuEnds*/

#hero{
    background-image: url(/Lambano_Project/Images/hero-bg3.jpg);
    background-position: center;
    background-size: cover;
    animation: transitionIn 0.9s!important;
}
.heroclick{
    display: flex;
    justify-content: center;
}
.herocolor{
    color:goldenrod!important;
    animation: transitionIn 2s!important;
    text-shadow: -2px -2px 0 black, 
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
.but{
    background-color: goldenrod!important;
    color:black;
    border-color: yellow;
    width: 150px;
    border-radius: 75px!important;
    animation: transitionIn2 2s!important;
}
.but:hover{
    background-color: black!important;
    color:goldenrod!important;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes transitionIn2 {
    from {
        opacity: 0;
        transform:translateX(-10px)
    }
    to {
        opacity:1;
        transform:translateX(0)
    }
}

     


/*About*/
.About{
    background-color: black;
}
.card{
 background-color: HSL(35, 62%, 63%)!important;
    
}
/* section */
.section-title{
    margin-bottom: 60px;
}
.section .line{
    width:60px!important;
    height: 40px!important;
    background-color: HSL(35, 62%, 63%)!important;
    margin: 16px auto 24px auto!important;
}
.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.img-thumbnail{
    width: 500px!important;
    height: 550px!important;
    border: none!important;
    background-color: transparent!important;
}
.col{
    background-color: HSL(35, 62%, 63%)!important;
}


@media screen and (max-width: 1020px){
    .nav-link2{
            color: black!important;
            position: relative;
        }  
    .nav-link2::after{
            content: "";
            opacity: 0;
            transition: all 0.29s;
            position: relative;
            height: 2px;
            width: 45px;
            background-color: black;
            position: absolute;
            bottom: 0;
            left: 0;
            
        }
    .nav-link2:hover::after{
            opacity: 1;
        }
    #nav{
        color: black!important;
        position: relative;
    }
    #nav::after{
        content: "";
        opacity: 0;
        transition: all 0.29s;
        position: relative;
        height: 2px;
        width: 60px;
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #nav:hover::after{
        opacity: 1;
    }
}